.animatedImage{
	transition: 0.5s;
	width: 10rem;
	height: 16rem;
	border-radius: 10px;
}

.animatedImage:hover{
	transition: 0.5s;
	width: 11rem;
	height: 17rem;
	box-shadow: 1px 0px 21px 2px #1bb7df;
	background-color: #1bb7df;
}

.animatedImageMain{
	transition: 0.5s;
	width: 18rem;
	border-radius: 10px;
}

.animatedImageMain:hover{
	transition: 0.5s;
	width: 19rem;
	box-shadow: 1px 0px 21px 2px #1bb7df;
	background-color: #1bb7df;
}

